body {
  background-image: url("/images/darkwallpaper1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.navbar-custom { 
  background-color: #000000 !important; 
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.navbar-custom .nav-item:hover .nav-link {
  color: #ed7d33;
}

.navbar-brand img {
  width: 70px;
}

.navbar button span {
  color: #ed7d33;
  font-size: 2.2rem;
}

.navbar button span:focus {
  box-shadow: none;
  outline: none !important;
}

.navbar ul li {
  font-size: 1.2rem;
  text-align: center;
  padding-left: 30px;

}

.navbar #navbarNavDropdown {
  margin: 50px 0 90px 0;
}

#navbarDropdownMenuLink {
  color: #ffffff;
}

.navbar-nav .dropdown-menu {
  text-align: center;
  background-color: #000000;
}

.navbar-nav .dropdown-menu a {
  color: #ffffff;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #ed7d33;
}

.navbar button:active, button:focus {
  outline: none;
  box-shadow: none;
}

.navbar .navbar-collapse .dropdownsocialmedia {
  text-align: center;
}
.navbar .navbar-collapse .dropdownsocialmedia a i {
  color: #ffffff;
  margin: 30px 10px;
}
.navbar .navbar-collapse .dropdownsocialmedia a i:hover {
  color: #ed7d33;
}

.socialmedia a i {
  color: #ffffff;
  padding: 0 10px;
}

.socialmedia a i:hover {
  color: #ed7d33;
}

.bd-example .carousel-item img {
  filter: grayscale(100%);
}

#story img {
  margin: 70px 0 30px 0;
}

#story .storytext {
  text-align: center;
} 

#story a {
  color: #ed7d33;
  text-decoration: none;
}

/* Section: Tour */
#tour h2 {
  margin: 20px 0 30px 0;
}

#tour p {
  font-size: 1.3rem;
}

#tour .tix {
  width: 180px;
}

#tour .table {
  color: #ffffff;
}

.table .tix {
  width: 200px;
  margin-right: 20px;
}

.parallax {
  background-image: url("/images/concert04.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  margin: 70px 0 50px 0;
}

#lifeinpics img {
  width: 600px;
  margin-top: 40px;
}

#lifeinpics p {
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
}

#lifeinpics p a {
  color: #ed7d33;
  font-size: 1.1rem;
}

/* 
#lifeinpics .tabletmobilerow {
  width: 600px;
  align-items: center;
} */

#music h2 {
  margin: 20px 0 30px 0;
}

.musicmobileview img {
  margin: 40px 0 10px 0;
  width: 150px;
  border-radius: 30%;
}

.musicmobileview a {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.musicmobileview a:hover {
  color: #ed7d33
}

.musictabletview img {
  margin: 40px 0 10px 0;
  width: 150px;
  border-radius: 30%;
}

.musictabletview a {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
}

.musictabletview a:hover {
  color: #ed7d33
}

.musicdesktopview img {
  margin: 40px 0 10px 0;
  width: 150px;
  border-radius: 30%;
}

.musicdesktopview a {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.musicdesktopview a:hover {
  color: #ed7d33
}

#music button {
  width: 60%;
  margin: 40px auto;
  margin-bottom: 80px;
}

#contact h2 {
  margin: 20px 0 30px 0;
}

#contact .row h4 {
  text-align: center;
  margin-top: 40px;
}

#contact .contactdetails li {
  list-style: none;
  line-height: 55px;
  text-align: center;
  font-size: 1.3rem;
}

#contact .contactdetails li i {
  margin-right: 15px;
}

#contact .contactdetails li a {
  color: #ffffff;
  text-decoration: none;
}

#contact .contactdetails li a:hover {
  color: #ed7d33
}

#contact .notablenews ul {
  list-style: none;
  text-align: center;
  font-size: 1.3rem;
}

#contact .notablenews a {
  text-decoration: none;
  color: #ffffff;
}

#contact .notablenews p {
  font-size: 1rem;
  color: #ed7d33;
}

#contact .notablenews a:hover {
  color: #ed7d33;
}

#contact .notablenews span {
  color: #ed7d33;
}

#contact .subscribe h2 form{
  /* margin: 0 auto; */
  /* text-align: center; */
  background: blue;
}

#contact form {
  text-align: center;
}

#contact label {
  display: none;
}

#contact #fname {
  width: 80%;
  margin: 30px auto;
}

#contact #femail {
  width: 80%;
  margin: auto;
}

.form button {
  width: 60%;
  margin: 50px auto;
  margin-bottom: 100px;
}

#footer {
  height: 300px;
  background-color: #000000;
}

#footer .footersocialmedia {
  margin-top: 90px;
  margin-bottom: 20px;
}

#footer .footersocialmedia i {
  color: #ffffff;
  padding: 0 20px;
}

#footer .footersocialmedia i:hover {
  color: #ed7d33;
}

#footer .footertext{
  color: #ffffff;
  line-height: 5px;
}

@media (min-width: 992px) {
  /* table, thead, tbody, th, td, tr { 
    display: block; 
 } */
 table > a {
   /* align-items: center; */
   background: red;
 }
}